<footer class="footer">
    <div class="footer-content">
        <div class="footer-hours">
            <h3>Opening Hours</h3>
            <ul class="hours-list">
                <li>
                    <span class="day">Monday to Thursday</span>
                    <span class="time">12:00pm to 11:00pm</span>
                </li>
                <li>
                    <span class="day">Friday to Saturday</span>
                    <span class="time">12:00pm to 12:00pm</span>
                </li>
                <li>
                    <span class="day">Sunday</span>
                    <span class="time">12:00pm to 10:30pm</span>
                </li>
            </ul>
        </div>
        
        <div class="footer-contact">
            <div class="contact-address">
                <h3>Visit Us</h3>
                <p>The Swan<br>
                60 London End<br>
                Beaconsfield<br>
                HP9 2JD</p>
            </div>
            
            <div class="contact-info">
                <h3>Get In Touch</h3>
                <p><a href="tel:01494673339">01494 673 339</a></p>
                <p><a href="mailto:info@theswanbeaconsfield.co.uk">info@theswanbeaconsfield.co.uk</a></p>
                <p><a href="https://instagram.com/swanbeaconsfield" target="_blank">@swanbeaconsfield</a></p>
            </div>
        </div>
    </div>
</footer>